/*   Цивинская Анна, задание 2.2    */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #F5F5F5;
}
INPUT[type="button"]{
    background-color: #FFFFFF;
    color: #000000;
}
